{% extends 'site/base-with-nav.html' %}

{% block title %}Add Client{%endblock%}

{% block content %}
    <form method="POST" action="/AddNewClient/">
        {% csrf_token %}
        <table>
            <tr>
                <th>First Name</th>
                <th><input type="text" name="f_name"/></th>
            </tr>
            <tr>
                <th>Last Name</th>
                <th><input type="text" name="l_name"/></th>
            </tr>
            <tr>
                <th>Email</th>
                <th><input type="email" name="email"></th>
            </tr>
            <tr>
                <th>Mailing Address</th>
                <th><input type="text" name="add"/></th>
            </tr>
            <tr>
                <th>Postal Code</th>
                <th><input type="text" name="post_code"/></th>
            </tr>
            <tr>
                <th>City</th>
                <th><input type="text" name="city"/></th>
            </tr>
            <tr>
                <th>Vehicle</th> 
                <th>
                    <select name="vehicle">
                        {% for vehicles in vehicle_list %}
                            <option value="{{vehicles.vehicle_brand}} {{vehicles.vehicle_type}}">{{vehicles.vehicle_brand}} {{vehicles.vehicle_type}}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
        </table>
        <input type="submit" value="Add Client">
    </form>
{%endblock%}