{% extends 'site/base-with-nav.html' %}

{% block title %}Add Vehicle{% endblock %}

{% block content %}    
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Add Vehicle</legend>
            {{ form.non_field_errors }}
            {% for field in form %}
            <div>
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
            </div>
            {% endfor %}
        </fieldset>
        <input type="submit" value="Add Vehicle">
    </form>
{% endblock %}