{% extends 'site/base-with-nav.html' %}

{% block title %}Add Vehicle to {{client_info.client_f_name}}{%endblock%}

{% block content %}
<form method="POST" action="/client-vehicle/{{client_info.id}}">
    {% csrf_token %}
    <fieldset>
        <legend>Add Vehicle To {{client_info.client_f_name}} {{client_info.client_l_name}}</legend>
        {% if vehicle_list.count != 0 %}
            <label for="id_vehicles">Add Vehicle</label>
            <select name="vehicles">
                <option value="null">-------</option>
                {% for v in vehicle_list %}
                <option value="{{v.id}}">{{v.vehicle_brand}} {{v.vehicle_type}}</option>
                {% endfor %}
            </select>
        {% else %}
            <h1>No Vehicles in the database!</h1>
        {% endif %}
    </fieldset>
    <input type="submit" value="Add Client">
</form>
{% endblock %}