{% extends 'site/base-with-nav.html' %}

{% block title %}Add Vehicle to {{client_info.client_f_name}}{%endblock%}

{% block content %}
<form method="POST" action="/client-vehicle/{{client_info.id}}">
    {% csrf_token %}
    <fieldset>
        <legend>Add Vehicle To {{client_info.client_f_name}} {{client_info.client_l_name}}</legend>
            <label for="id_vehicles">Add Vehicle</label>
            <select name="vehicles">
                <option value="null">-------</option>
                {% if vehicle_list.count != 0 %}
                    {% for v in vehicle_list %}
                        <option value="{{v.id}}">{{v.vehicle_brand}} {{v.vehicle_type}}</option>
                    {% endfor %}
                {% endif %}
            </select>
    </fieldset>
    <input type="submit" value="Add to Client">
</form>
{% endblock %}