{% extends 'site/base-with-nav.html' %}

{% block title %}Client - {{client_info.client_f_name}}{%endblock%}

{% block content %}
    <h1>Getting information for: {{client_info.client_f_name}} {{client_info.client_l_name}}</h1>
    <form action="/EditClient/{{client_info.id}}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Edit">
    </form>
    <h3>Email: <a style="font-weight:normal;">{{client_info.client_email}}</a></h3>
    <h3>Mailing Address:</h3>
    <a style="font-weight:normal;">
        {{client_info.mailing_address}} <br/>
        {{client_info.city}}, {{client_info.postal_code}}
    </a>

    <h1>Vehicles:  <form method="POST" action="/AddVehicleClient/{{client_info.id}}">{% csrf_token %} <input type="submit" value="Add New Vehicle"></form></h1>
    {% for v in client_info.vehicles.all %}
        <a href="/work-done/{{client_info.id}}/{{v.id}}">{{ v.vehicle_brand }} {{ v.vehicle_type }}</a>
        <br/>
    {% endfor %}

    <br><br>

    <form action="/DeleteClient/{{client_info.id}}" method="post">
        {% csrf_token %}
        <input type="submit" value="Delete Client">
    </form>
{%endblock%}