{% extends 'site/base-with-nav.html' %}

{% block title %} Manage Clients {% endblock %}

{% block content %}
    <h1>Manage Clients</h1>
    <h4>A list of all clients should show up here</h4>
    <h6>Currently skipping over the login page</h6>

    <!-- 
        for the data in the clients database
            print out the name in a button 
        
        if a button is clicked
            for the data in the given clients.vehicles database
                print the vehicle names in a button

        if a vehicle button is clicked
            for the data in the given clients.vehicles.notes && (later date) clients.vehicles.invoices
                print the data to the page
                when an invoice is clicked open a preview in a new window 
                when notes is clicked open the work_done notes  
     -->
{% endblock %}