<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>

        <title>{% block title %} CAJNvoice {% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>Manage Clients</li>
                <li>Add Client</li>
                <li>Add Vehicle</li>
                <li>Add Part</li>
                <li>Create Invoice</li>
            </ul>
        </nav>
        {% block content %}
            Replace me
        {% endblock %} 
    </body>
</html>