<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>

        <title>{% block title %}CAJNvoice{% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{% url 'cajn-manage-clients' %}">Manage Clients</a></li>
                <li><a href="{% url 'cajn-add-client' %}">Add Client</a></li>
                <li><a href="{% url 'cajn-add-vehicle' %}">Add Vehicle</a></li>
                <li><a href="{% url 'cajn-add-part' %}">Add Part</a></li>
                <li><a href="{% url 'cajn-site-create-invoice' %}">Create Invoice</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
        {% block content %}
            Replace me
        {% endblock %} 
    </body>
</html>